html {
}

body {
	font-family: Arial;
}

div.mainframe {
	display:grid;
	grid-template-columns: minmax(0, 20%) auto minmax(0, 20%);
	padding-top:30px;
	padding-bottom:30px;
	background-color: gainsboro;
}

div.main-border {
	background-color: gainsboro;
}

section.main-content {
	background-color: white;
	padding-left:10px;
	padding-right:10px;
}

/*https://stackoverflow.com/a/2618980/3153939*/
@media print {
	body * {
		visibility: hidden;
	}
	.a4 * {
		visibility: visible;
	}
	a4 {
		left: 0;
		top: 0;
	}
}