
.main-content {
	display: grid;
	grid-gap: 5px;
	/*grid-template-columns: 150px auto 150px;*/
	grid-template-rows: auto auto auto auto;
	align-content: center;
}

header {
	display:grid;
	grid-template-columns: auto auto;
	padding-left: 10px;
	padding-right: 10px;
}

.header-left {
}

.header-right {
	text-align: right;
	color: crimson;
}

footer {
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
}

main {
	padding: 20px 10px 30px 10px;
}

.top-section {
	display:grid;
	grid-template-columns: auto auto;
}

.serialize-section {
	margin-left:20px;
}

.serialize-buttons {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	padding: 0px 10px 0px 10px;
	/*justify-content: space-between;*/
}

.serialize-action {
	padding:5px;
	font-size:medium;
	margin-bottom: 10px;
}

.quotation-row {
	display: grid;
	grid-template-columns: 150px auto;
	padding-left:20px;
	margin-bottom: 10px;
}

.quotation-content {
	width:400px;
	font-size:medium;
	margin-right:50px;
}

.quotation-date {
	font-family: Arial;
	width:406px;
	font-size:medium;
	margin-right:50px;
}

.quotation-heading{
	padding-left:0px;
	padding-top:4px;
	float:left;
	font-weight: bold;
}

.quotation-title {
	margin-bottom: 15px !important;
}

.workUnit-section, .material-section, .machine-section, .quotation-section, .modifiers-section, .serialize-section {
	background-color: #DDEBFF;
	padding-bottom: 10px;
	margin-bottom:20px;
}

.form-title, .quotation-title, .modifiers-title {
	margin-top:0px;
	margin-bottom: 10px;
	padding:5px 5px 5px 10px;
	background-color: #B2D2FF;
}

.form-content {
	max-width:100%;
}

.form-heading {
	display:grid;
	padding-left:20px;
	grid-template-columns: auto 200px 200px 150px 20px;
}

.form-row {
	display:grid;
	grid-template-columns: auto 200px 200px 150px 20px;
	padding-left:20px;
	margin-bottom: 10px;
}

.quotation-content, .caption-content, .rate-content, .factor-content, .modifiers-input {
	padding: 2px 5px 2px 5px;
}

.rate-content, .factor-content, .modifiers-input {
	text-align: right;
	font-family: "Lucida Console", Monaco, monospace;
}

.caption-heading {
	margin-bottom:10px;
	font-weight: bold;
	font-size:medium;
}
.caption-content {
	width:400px;
	font-size:medium;
	margin-right:50px;
}

.rate-heading {
	margin-bottom:10px;
	font-weight: bold;
	font-size:medium;
}
.rate-content {
	width:100px;
	font-size:medium;
}

.factor-heading {
	margin-bottom:10px;
	font-weight: bold;
	font-size:medium;
}
.factor-content {
	width:100px;
	font-size:medium;
}

.sum-heading {
	margin-bottom:10px;
	font-weight: bold;
	text-align: right;
	margin-right:50px;
	padding-right: 20px;
}
.sum-content {
	font-family: "Lucida Console", Monaco, monospace;
	font-size:medium;
	margin-top:4px;
	text-align: right;
	margin-right:50px;
}

.delete-heading {
	margin-bottom:10px;
	font-weight: bold;
	text-align: right;
}
.delete-content {
	font-size:large;
	margin-top:2px;
	witdh:20px;
	cursor: pointer;
}

.form-footer {
	display:grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	margin-top:10px;
	padding:5px 5px 0px 20px;
}

.form-action {
	padding:5px;
	font-size:medium;
}

.section-sum, .total-sum, .total-item {
	font-family: "Lucida Console", Monaco, monospace;
	margin-right:65px;
	margin-top: 8px;
	font-size: medium;
	font-weight: bold;
}

.modifiers-content {
	display:grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

.modifiers-row {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: space-between;
}

.modifiers-total {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}

.modifiers-title {
	margin-bottom: 15px !important;
	margin-top: 8px;
}

.modifiers-item {
	display: grid;
	grid-template-columns: 150px auto;
	padding-left:20px;
	margin-bottom: 10px;
}

.modifiers-input {
	width:100px;
	font-size:medium;
	margin-top: 7px;
}

.modifiers-heading{
	padding-left:0px;
	padding-top:2px;
	float:left;
	font-weight: bold;
	margin-top: 8px;
}

.total-row {
	display:grid;
	grid-template-rows: auto auto;
	text-align: right;
}

.total-heading{
	padding-left:0px;
	margin-top:10px;
	margin-right:50px;
	float:left;
	font-weight:bold;
}

.total-item {
	margin-top: 11px;
	padding-right:5px;
	font-weight: normal;
}

.total-sum {
	margin-top: 10px;
	border-bottom: 3px double;
	padding-right:5px;
}

