:root {
	--page-width:210mm;
	--page-height:297mm;
	--border-left:20mm;
	--border-right:25mm;
	--border-top:27mm;
	--border-bottom:25mm;
	--content-width:calc(var(--page-width) - var(--border-left) - var(--border-right));
	--content-height:calc(var(--page-height) - var(--border-top) - var(--border-bottom));
}

body {
	height:var(--page-height);
	width:var(--page-width);
	margin-left:auto;
	margin-right:auto;
	/*padding:var(--border-top) var(--border-right) var(--border-bottom) var(--border-left);*/
	font-family: Arial;

}

.a4 {
	position: relative;
	border:1px solid gainsboro;
	height:100%;
	font-size: 11pt;
}

.content {
	position: absolute;
	border:1px solid gainsboro;
	top:105mm;
	left:25mm;
	width:calc(var(--page-width) - var(--border-left) - var(--border-right));
}

p {
	margin:0;
	margin-top:10px;
}

.customer-frame {
	border:1px solid gainsboro;
	position:absolute;
	top:45mm;
	left:20mm;
	width:85mm;
	height:45mm;
	padding-left:5mm;
}

.customer-frame .sender {
	font-size: 8pt;
	padding-top:10px;
}

.customer-frame .customer-name {
	font-size: 10pt;
	font-weight: bold;
	margin-top:15px;
}

.customer-frame .customer-address {
	font-size: 10pt;
}

.customer-frame .customer-city {
	font-size: 11pt;
}

.sender-frame {
	border:1px solid gainsboro;
	position:absolute;
	top:30mm;
	left:125mm;
	width:75mm;
	height:60mm;
	padding-left:5mm;
	font-size: 10pt;
}

.anrede {
	margin-top:10mm;
}

.quotation-text {
	margin-top:10mm;
}

